.top-heading {
  display: flex;
  justify-content: center;
  width: auto;
  height: 5rem;
  background: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  // background: linear-gradient(
  //   90deg,
  //   rgba(0, 0, 0, 1) 10%,
  //   rgba(246, 61, 61, 1) 99%
  // );
  background: rgb(255, 255, 255) 99%;
  h1 {
    margin-left: -9rem;
    // font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    //   "Lucida Sans", Arial, sans-serif;
    font-family: "IBM Plex Sans", sans-serif;
    font-family: "Outfit", sans-serif;
    margin-right: auto;
    //color: #ffffff;
    color: grey;
    font-size: 2rem;
  }
  img {
    margin-right: auto;
    width: auto;
    padding: 0.5rem;
  }
  margin-bottom: 1.5rem;
  span {
    color: black;
    font-weight: 900;
  }
}
