.access-denied {
  position: absolute;
  margin-top: 7rem;
  //   background-color: darkblue;
  width: 100%;

  .loading-button {
    margin: auto;
    display: block;
  }
  h1 {
    text-align: center;
    // background-color: rebeccapurple;
  }
}
